<li>
    <% if (locals.user && locals.user.id == post.user.id) { %>
     
    
        <small>
            <a href="/posts/destroy/<%= post.id %>  ">x</a>
        </small>
    <% } %>
    <%= post.content %> <br>
By-
    <%= post.user.name %> 
<!-- for post comments -->
<div class="post-comments">
    <% if (locals.user) { %>
    <form action="/comments/create" method="POST">
        <input type="text" name="content" placeholder="Type here to add comments.." required>
        <input type="hidden" name="post" value=<%= post._id %> >
        <input type="submit" value="Comment">
    </form>
    <% } %>

    <div class="post-comments-lists">
        <ul id="post-comments-<%= post._id %> ">
            <% for( comment of post.comments) { %>
                <%- include('_comment') %> 
            <% } %>
        </ul>
    </div>

</div>

</li>